<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<!--<p th:text="${testName}"></p>-->

<table>
    <tr>
        <th>STATE</th>
        <th>COUNTRY</th>
        <th>TOTAL CASES REPORTED</th>
    </tr>
    <tr th:each="locationStat : ${LocationStats}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.latestTotalCases}">0</td>
    </tr>
</table>

</body>

</html>